@model List<BandModel>
@{
    ViewData["Title"] = "Home Page";
}

<ul>
	@foreach (var band in Model)
	{
		<li><a href="@Url.Action("Member", "Member", new { id = band.BandId })">@band.Name</a></li>
	}
</ul>
